<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Евва-Дент</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.png">
	<link rel="apple-touch-icon" href="img/favicon/favicon.png">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">
    <style>
        [v-cloak] {
          display: none;
        }
    </style>

</head>

<body>
    <div id="app" v-cloak>
        <div id="page-preloader" class="preloader">
            <div class="loader"></div>
        </div>
        <section class="main-section">
            <header class="header">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2">
                            <a href="/" class="logo"><img src="./img/logo.svg"></a>
                        </div>
                        <div class="col-lg-8">
                            <ul class="menu">
                                <li class="menu__item">
                                    <a class="menu__link">Услуги</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="implants.html">Имплантация</a>
                                        </li>
                                        <li>
                                            <a href="caries.html">Лечение кариеса зубов</a>
                                        </li>
                                        <li>
                                            <a href="professional-oral-hygiene.html">Профессиональная гигиена <br /> полости рта</a>
                                        </li>
                                        <li>
                                            <a href="dental-canal-treatment.html">Лечение каналов зубов</a>
                                        </li>
                                        <li>
                                            <a href="visiographic-examination-of-teeth.html">Визиографическое <br /> обследование зубов</a>
                                        </li>
                                        <li>
                                            <a href="metal-ceramics.html">Керамика металл./без</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu__item">
                                    <a href="works.html" class="menu__link">Работы</a>
                                </li>
                                <li class="menu__item">
                                    <a href="security.html" class="menu__link">Безопаснсть</a>
                                </li>
                                <li class="menu__item">
                                    <a href="staff.html" class="menu__link">Персонал</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="karakhanyan-vaagn.html">Караханян Ваагн Теванович</a>
                                        </li>
                                        <li>
                                            <a href="kolobaeva-natalia.html">Колобаева Наталья Вячеславовна</a>
                                        </li>
                                        <li>
                                            <a href="kozhukhova-arina.html">Кожухова Арина Петровна</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu__item">
                                    <a href="reviews.html" class="menu__link">Отзывы</a>
                                </li>
                                <div class="phone modile-phone">
                                    <img src="./img/phone-icon.svg">
                                    <a href="tel:+7 (925) 741-10-25" class="phone__item">+7 (925) 741-10-25</a>
                                    <a href="tel:+7 (499) 142-17-01" class="phone__item">+7 (499) 142-17-01</a>
                                </div>
                            </ul>
                            <div class="menu__bg"></div>
                        </div>
                        <div class="col-lg-2">
                            <div class="phone">
                                <img src="./img/phone-icon.svg">
                                <a href="tel:+7 (925) 741-10-25" class="phone__item">+7 (925) 741-10-25</a>
                                <a href="tel:+7 (499) 142-17-01" class="phone__item">+7 (499) 142-17-01</a>
                            </div>
                            <div class="btn_mnu">
                                <div class="btn_row"></div>
                                <div class="btn_row"></div>
                                <div class="btn_row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="desctop-card">
                <div class="container">
                    <div class="row">
                        <div class="col-12 relative">
                            <div class="main-carousel">
                                <div>
                                    <div class="main-carousel__item">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="sign-up">
                                                    <div class="sub-title">Современная техника</div>
                                                    <div class="title">Безопасность клиента <br /> наш девиз</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="main-carousel__item">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="sign-up">
                                                    <div class="sub-title">Клиника стоматологии</div>
                                                    <div class="title">Мы рады вас видеть <br /> в нашей клинике</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="main-carousel__item">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="sign-up">
                                                    <div class="sub-title">Опытные врачи</div>
                                                    <div class="title">Наши врачи <br /> практикуют более <br /> 15 лет</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sign-up__row">
                                <button data-fancybox="dialog" data-src="#sign-up" class="btn">Записаться</button>
                                <a href="works.html" class="btn btn-outline">Работы</a>
                            </div>
                            <div class="doctor">
                                <div class="doctor__title">С вами с 2003 года</div>
                                <div class="doctor__row">
                                    <img src="./img/vaagn-main.png" class="doctor__img">
                                </div>
                                <a href="metal-ceramics.html" class="doctor__list wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
                                    <img src="./img/tooth.svg" class="doctor__icon tooth" />
                                    <p class="doctor__desc">Винир керамический за <strong>3 часа</strong></p>
                                </a>
                                <a href="dental-canal-treatment.html" class="doctor__list wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <img src="./img/microscope.svg" class="doctor__icon" />
                                    <p class="doctor__desc">Лечение каналов, хирургия, ортопедия <strong>под микроскопом</strong></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="phone-fixed">
                    <div class="phone-fixed__label">Записаться по номерам:</div>
                    <div class="phone-fixed__row">
                        <div class="phone-fixed__icons">
                            <img src="./img/whatsapp.svg">
                            <img src="./img/viber.png">
                        </div>
                        <div class="phone-fixed__item">+7 (925) 741-10-25</div>
                        <div class="phone-fixed__item">+7 (925) 741-10-25</div>
                    </div>
                </div>
            </div>
            <div class="mobile-card">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="mobile-carousel">
                                <div>
                                    <div class="mobile-carousel__item">
                                        <div class="sub-title">Современная техника</div>
                                        <div class="title">Безопасность клиента <br /> наш девиз</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="mobile-carousel__item">
                                        <div class="sub-title">Клиника стоматологии</div>
                                        <div class="title">Мы рады вас видеть <br /> в нашей клинике</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="mobile-carousel__item">
                                        <div class="sub-title">Опытные врачи</div>
                                        <div class="title">Наши врачи <br /> практикуют более <br /> 15 лет</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mobile-services">
                                <a href="metal-ceramics.html" class="doctor__list wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
                                    <p class="doctor__desc">Винир керамический за <br /> <strong>3 часа</strong></p>
                                </a>
                                <a href="dental-canal-treatment.html" class="doctor__list wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <p class="doctor__desc">Лечение каналов, хирургия, ортопедия <br /> <strong>под микроскопом</strong></p>
                                </a>
                            </div>
                            <div class="doctor__mobile">
                                <img src="./img/doctor-mobile.png" class="doctor__img">
                            </div>
                            <div class="doctor__title">С вами с 2003 года</div>
                            <div class="sign-up-mobile">
                                <button data-fancybox="dialog" data-src="#sign-up" class="btn">Записаться</button>
                                <a href="works.html" class="btn btn-outline">Работы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="services-section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Услуги</div>
                    </div>
                </div>
                <div class="services">
                    <div class="services__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="service">
                            <div class="service__title">Имплантация</div>
                            <div class="service__icon"><img src="./img/service-1.svg"></div>
                            <p class="service__desc">Имплантация – это операция по вживлению импланта на верхней или нижней челюсти пациента.</p>
                            <a href="implants.html" class="btn">Подробнее</a>
                        </div>
                    </div>
                    <div class="services__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="service">
                            <div class="service__title">Лечение кариеса зубов</div>
                            <div class="service__icon"><img src="./img/service-2.svg"></div>
                            <p class="service__desc">Суть лечения кариеса сводится к иссечению и удалению пораженных кариесом твердых тканей зубов с последующим их пломбированием.</p>
                            <a href="caries.html" class="btn">Подробнее</a>
                        </div>
                    </div>
                    <div class="services__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="service">
                            <div class="service__title">Лечение каналов зубов</div>
                            <div class="service__icon"><img src="./img/service-3.svg"></div>
                            <p class="service__desc">Лечение каналов зубов или эндодонтическое лечение является самой сложной процедурой в терапевтической стоматологии.</p>
                            <a href="dental-canal-treatment.html" class="btn">Подробнее</a>
                        </div>
                    </div>
                    <div class="services__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="service">
                            <div class="service__title">Профессиональная гигиена полости рта</div>
                            <div class="service__icon"><img src="./img/service-4.svg"></div>
                            <p class="service__desc">Профгигиена полости рта является самой часто применяемой процедурой в любой клинике.</p>
                            <a href="professional-oral-hygiene.html" class="btn">Подробнее</a>
                        </div>
                    </div>
                    <div class="services__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                        <div class="service">
                            <div class="service__title">Металлокерамика или безметаловая керамика</div>
                            <div class="service__icon"><img src="./img/service-5.svg"></div>
                            <p class="service__desc">Протезирование металлокерамическими коронками наиболее часто применяемый метод в ортопедической стоматологии.</p>
                            <a href="metal-ceramics.html" class="btn">Подробнее</a>
                        </div>
                    </div>
                    <div class="services__item wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                        <div class="service">
                            <div class="service__title">Визиографическое обследование зубов </div>
                            <div class="service__icon"><img src="./img/service-6.svg"></div>
                            <p class="service__desc">Сегодня отошли в прошлое прицельные рентгенологические снимки, проявляющиеся затем на пленку.</p>
                            <a href="visiographic-examination-of-teeth.html" class="btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="veneers-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-12">
                        <div class="content wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s">
                            <div class="sub-title">CAD/CAM Cerec 3</div>
                            <div class="title">Виниры, коронки <br /> E-Max за 3 часа</div>
                            <p class="content__desc">Система CAD/CAM CEREC 3 обладает способностью проведения виртуальной артикуляции и учётом её данных для проектирования окклюзионной поверхности протеза.</p>
                            <a href="metal-ceramics.html" class="btn">Подробнее</a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-11">
                        <div class="img-row wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s">
                            <!-- <img src="./img/veneer.png" class="img-responsive"> -->
                            <video controls class="veneers-video">
                                <source src="./video/video.mp4" type="video/mp4">
                                Your browser does not support HTML video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="our-works-section section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Наши работы</div>
                        <p class="desc wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Безболезненное и безопасное лечение</p>
                    </div>
                    <div class="col-12">
                        <div class="our-works-carousel">
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-1.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-1.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-2.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-2.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-3.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-3.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-4.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-4.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-5.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-5.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-6.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-6.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-7.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-7.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-8.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-8.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-9.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-9.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-10.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-10.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-11.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-11.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-12.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-12.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-13.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-13.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-14.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-14.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-15.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-15.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-16.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-16.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-17.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-17.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-18.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-18.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div>
                                <a 
                                    data-fancybox="work"
                                    data-src="./img/work-19.jpg"
                                    class="our-works-carousel__item">
                                    <img src="./img/work-19.jpg" class="img-responsive">
                                </a>
                            </div>
                        </div>
                        <a href="works.html" class="btn btn-work">Все работы</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="doctors-section section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Наши Врачи</div>
                        <p class="desc wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Мы обеспечиваем самое высокое качество ухода для каждого пациента</p>
                    </div>
                    <div class="col-12">
                        <div class="doctors-carousel">
                            <div>
                                <div class="person wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <img src="./img/person-1.png" class="img-responsive person__img">
                                    <div class="person__content">
                                        <div class="person__name">Колобаева Наталья Вячеславовна</div>
                                        <div class="person__label">Врач-стоматолог первой категории</div>
                                        <div class="person__desc">
                                            Стаж работы с 2003 года. Стажировалась в Германии и на Украине (Полтава) проводит лечение зубов любой сложности.
                                        </div>
                                        <div class="person__socials">
                                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100005578628418&lst=1506821263%3A100005578628418%3A1482757848"><img src="./img/facebook.svg"></a>
                                        </div>
                                        <a href="kolobaeva-natalia.html" class="btn">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="person wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                                    <img src="./img/person-2.png" class="img-responsive person__img">
                                    <div class="person__content">
                                        <div class="person__name">Караханян  Ваагн Теванович</div>
                                        <div class="person__label">Главный Врач</div>
                                        <div class="person__desc">
                                            Кандидат медицинских наук, главный врач клиники. Стаж работы с 1993 года. Стажировался в Швеции, Германии, США.
                                        </div>
                                        <a href="karakhanyan-vaagn.html" class="btn">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="person wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <img src="./img/person-3.png" class="img-responsive person__img">
                                    <div class="person__content">
                                        <div class="person__name">Кожухова Арина Петровна</div>
                                        <div class="person__label">Врач-стоматолог первой категории</div>
                                        <div class="person__desc">
                                            Стаж работы с 2000 года. Стажировалась в Германии, применяет самые передовые технологии при лечении каналов зубов.
                                        </div>
                                        <a href="kozhukhova-arina.html" class="btn">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="person wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                    <img src="./img/person-4.png" class="img-responsive person__img">
                                    <div class="person__content">
                                        <div class="person__name">Абдуразвкова Азиза</div>
                                        <div class="person__label">Врач-стоматолог терапевт, <br /> гигиенист</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">Отзывы</div>
                        <div class="desc wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">Наши пациенты уже сделали свой выбор</div>
                    </div>
                </div>
            </div>
            <div class="container carousel-container">
                <div class="row">
                    <div class="col-12">
                        <div class="reviews-row">
                            <div class="reviews-carousel">
                                <div v-if="reviews.length" v-for="review in reviews.slice().reverse()">
                                    <div class="review">
                                        <img src="./img/person.svg" class="review__icon">
                                        <div class="review__row">
                                            <div class="review__name">{{review.name}}</div>
                                            <div class="review__date">{{review.createDate | formatDate}}</div>
                                        </div>
                                        <p class="review__desc">
                                            {{review.text}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <button data-fancybox="reviews-dialog" data-src="#reviews-modal" class="btn btn-review">Написать отзыв</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12">
                            <div class="title">Партнёры:</div>
                        </div>
                        <div class="col-md-8 col-12">
                            <div class="partners__row">
                                <a href="http://kava-med.ru/" target="_blank">
                                    <img src="./img/partner-1.svg" alt="" class="img-responsive">
                                </a>
                                <a href="https://www.dentsplysirona.com/ru-ru" target="_blank">
                                    <img src="./img/partner-2.svg" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="map-section">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa81ee46b311feaad75cf9c937a74647f2033e0b87029a3a0d01aa1545e85dbec&amp;source=constructor" width="100%" height="720" frameborder="0"></iframe>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="map-contact">
                            <div class="white">
                                <div class="map-contact__title">Контакты</div>
                                <div class="map-contact__desc">ул. Большая Филёвская, <br /> д. 10/13.</div>
                                <ul class="map-contact__row">
                                    <li>
                                        <img src="./img/metro.svg">
                                        <span>Фили</span>
                                    </li>
                                    <li>
                                        <img src="./img/mail.svg">
                                        <a href="#">evvadent@mail.ru</a>
                                    </li>
                                    <li>
                                        <img src="./img/phone.svg">
                                        <span>+7 (925) 741-10-25</span>
                                        <span>+7 (925) 741-10-25</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="blue">
                                <ul class="blue__row">
                                    <li>
                                        <div class="blue__label">Пн - Пт:</div>
                                        <strong>10:00 - 21:00</strong>
                                    </li>
                                    <li>
                                        <div class="blue__label">Сб:</div>
                                        <strong>10:00 - 20:00</strong>
                                    </li>
                                    <li>
                                        <div class="blue__label">Вс:</div>
                                        <strong>10:00 - 18:00</strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="logo"><img src="./img/logo-footer.svg"></div>
                    </div>
                    <div class="col-6">
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a href="works.html" class="footer-menu__link">Работы</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="security.html" class="footer-menu__link">Безопаснсть</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="staff.html" class="footer-menu__link">Персонал</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="reviews.html" class="footer-menu__link">Отзывы</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="copy">Evvadent 2022</div>
                    </div>
                </div>
            </div>
        </footer>
        <div id="toTop">
            <img src="./img/up.svg">
        </div>
    
        <!-- Записаться на приём -->
        <form id="sign-up" class="modal">
            <div class="modal__title">Записаться на приём</div>
            <input type="text" class="modal__input" name="name" placeholder="Ваше имя*" value=""  required />
            <input type="email" class="modal__input" name="email" placeholder="Ваша почта*" value="" required />
            <input type="text" class="modal__input" name="phone" placeholder="Телефон*" required>
            <div class="modal__row">
                <input type="date" class="modal__input" name="date" placeholder="Дата">
                <input type="time" class="modal__input" name="time" placeholder="Время">
            </div>
            <button type="submit" class="btn">Оставить отзыв</button>
            <div class="modal__desc">все поля с <span>*</span> обязательны для заполнения</div>
        </form>
    
        <div id="thanks-sign-up" class="modal">
            <div class="modal__title">Спасибо, ваша заявка принята!</div>
            <div class="modal__icon sign-up"></div>
            <div class="modal__desc">Мы свяжемся с вами в ближайшее время</div>
        </div>
    
        <!-- Reviews Contents -->
        <form id="reviews-modal" class="modal" @submit.prevent="createReview">
            <div class="modal__title">Написать отзыв</div>
            <input type="text" class="modal__input" placeholder="Ваше имя*" value=""  v-model="form.name" />
            <input type="email" class="modal__input" placeholder="Ваша почта*" value="" v-model="form.email" />
            <textarea class="modal__textarea" rows="4" cols="50" placeholder="Ваш отзыв" v-model="form.text"></textarea>
            <button type="submit" class="btn" :disabled="!canCreate">Оставить отзыв</button>
            <div class="modal__desc">все поля с <span>*</span> обязательны для заполнения</div>
        </form>
    
        <div id="thanks-review" class="modal">
            <div class="modal__title">Спасибо за ваш отзыв!</div>
            <div class="modal__icon"></div>
            <div class="modal__desc">Мы всегда рады услышать как слова благодарности, так и ваши замечания и пожелания относительно нашей работы, которые помогают нам стать еще лучше.</div>
        </div>
    </div>

	<script src="js/scripts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="./js/frontend.js"></script>

</body>
</html>
